
@{
    ViewData["Title"] = "Contact";
}
    <body>
        <div class="sizecontainer">
            <div id="wrapper">
                <section id="adres">
                    <iframe id="mapsimage" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38963.227323422274!2d4.922498252776733!3d52.38489365058453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x17dd5e50c8a2f9ba!2sLysandroCicilia%20hairstyles!5e0!3m2!1snl!2snl!4v1593688853509!5m2!1snl!2snl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    <addres id="article1">
                        <h6 id="Bold">Address Info</h6><br>
                        Reguliersgracht 95<br>
                        1017 LN Amsterdam<br>
                        020-4617834<br>
                        06-10382151<br>
                        <a href="mailto:Info@Barbershop.com">Info@Barbershop.com</a>
                    </addres>
                </section>
            </div>
        </div>
    </body>